.navbar {
	font-size: 25px;
	margin-bottom: 0px;
	text-align: center;
}


.navbar-default {
	border-radius: 0px !important;
	background: #27ae60;
}

.container {
	width: auto !important;
	padding: 0px !important;
}

.navbar .fa-home {
	padding: 8px 9px;
}

.navbar .fa-inbox {
	padding: 8px 9px;
}

.navbar .navbar-brand {
	padding: 15px 5px;
	font-size: 18px;
	padding-bottom: 0px;
	color: white;
}

.navbar .nav {
	float: none;
}

.orgPicSec {
	background-color: gray;
	height: 200px;
	padding: 1.60em;
	text-align: center;
	background-image:url('../images/requestBG.jpg');
	color: white;
}

.orgProfPic {
	height: 100px;
	width: 100px;
	padding-top: 3%;
	margin: 0 auto;
}

.requestDetails {
}

.btn {
	border: 1px solid gray;
	padding: 1px 12px;
	margin: 7px;
}

.btn-default {
	background: transparent;
	font-color: red;
}

.requestInfo {
	text-align: center;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

.requestContact {
	text-align: center;
	border-bottom: 1px solid gray;
}

.requestHeadline, .requestDescription {
	margin: 15px auto;
	width: 285px;
	font-size: 13px;
	display: block;
}

.fa-clock-o, .fa-users {
	font-size: 25px;
	padding-top: 5px;
}

.fa {
	font-size: 20px;
	color: gray;
}

.fa-home, .fa-inbox {
	color: white;
}

.orgPicSec .thumbnail {
	background-image: url('../images/requestLogo.jpg');
}