.navbar {
	font-size: 17px;
	margin-bottom: 0px;
	text-align: center;
}

.container {
	width: auto !important;
	padding: 0px !important;
}

.navbar .fui-home {
	padding: 9px 10px;
}

.navbar .fui-mail {
	padding: 9px 10px;
}

.navbar .navbar-brand {
	padding: 15px 5px;
	font-size: 18px;
	padding-bottom: 0px;
}

.navbar .nav {
	float: none;
}

.orgPicSec {
	background-color: gray;
	height: 200px;
	padding: 1em;
	text-align: center;
}

.orgProfPic {
	height: 100px;
	width: 100px;
	padding-top: 3%;
	margin: 0 auto;
}

.requestDetails {
}

.requestInfo, .requestContact {
	text-align: center;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

.requestHeadline, .requestDescription {
	margin: 15px auto;
	width: 285px;
	font-size: 13px;
	display: block;
}