.navbar {
	font-size: 25px;
	margin-bottom: 0px;
	text-align: center;
}


.navbar-default {
	border-radius: 0px !important;
	background: #9977dd;
}

.container {
	width: auto !important;
	padding: 0px !important;
        background: #ffeeaa;
}

.navbar .fa-home {
	padding: 15px 9px;
	color: #ecf0f1;
	float: left;
}

.navbar .fa-inbox {
	padding: 15px 9px;
	color: #ecf0f1;
	float: right;
}

.navbar .navbar-brand {
	padding: 15px 5px;
	font-size: 18px;
	padding-bottom: 0px;
	color: #ecf0f1;
	float: none;
}

.navbar .nav {
	float: none;
}

.profilePic {
        display: block;
        padding: 1.60em;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid white;
}

.myInfo {
        text-align: left;
        margin-top: 70px;
}

.myOrgs {
        margin-top: 30px;
        text-align: center;
        font-size:24px;
}

.org {
        text-align: center;
}

.actions {
        margin-top: 20px;
}

.btn {
	border: 1px solid #95a5a6;
	padding: 1px 12px;
	margin-top: 10px;
        font-size: 30px;
        color: #000000;
        background-color: #9977dd;
}

body {
        background-color: #000000;
}

.btn-default {
	background: #E6EDED;
	font-color: red;
}


.row {
	margin-right: 0px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	padding-right: 0px;
}
